* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header {
    background: url(123.jpg);
    object-position: center;
    object-fit: center;
    height: 50em;
  }
  .navbar {
    display: flex;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .tophead {
    text-align: center;
  }
  .tophead img {
    display: inline-block;
    opacity: unset;
  }
  .tophead ul {
    display: inline-block;
  }
  .tophead ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    margin-left: 30px;
    font-size: 40px;
    color: white;
  }
  .tophead ul li a {
    text-decoration: none;
  
    color: white;
    font-size: 22px;
  }
  footer {
    margin-top: 3em;
    margin-bottom: 0px;
  }
  .topdabba {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 30em;
    background-color: black;
    color: whitesmoke;
  }
  .footer-section {
    background: #333333;
    position: relative;
    display: block;
    font-family: "acumin-pro", sans-serif;
    color: #747474;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
  }
  .footer-section a:hover {
    color: #015093;
  }
  .boxes {
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 20em;
  }
  .box-1 {
    position: relative;
    top: 6em;
    align-items: left;
    text-align: left;
    left: 7px;
    font-size: 15px;
  }
  .box-2 {
    text-align: left;
  }
  .box-2 li {
    list-style: none;
  
    padding: 10px;
  }
  .box-2 li a {
    color: white;
    cursor: pointer;
    font-size: 18px;
  }
  .box-2 li a:hover{
    color: orange;
    font-style: oblique;
    font-size: 20px;
  }
  
  .box-2 h2 {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .box-3 h2 {
    margin-bottom: 2em;
  
    text-align: center;
  }
  .box-3 ul li {
    list-style: none;
    padding: 20px;
    
  }
  .box-3 ul li a {
    text-decoration: none;
    color: white;
    font-size: 22px;
  }
  .box-3 ul li a:hover{
    color: orange;
    font-style: oblique;
    font-size: 25px;
  }
  .box-4 {
    position: relative;
    justify-content: center;
    text-align: center;
    top: 5em;
    right: 20px;
  }
  .box-4 a {
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 50px;
  }
  .box-4 a:hover{
    font-size: 35px;
    color: orange;
  }